body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
 /* headings */
.main-header{
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;

}

.second-heading{
    font-weight: 300;
    color: #ffffff;
    font-size: 42px;
}

.third-heading{
    font-size: 21px;
    color: grey;
}

/* links */
.download-link{
    font-size: 16px;
    color: aquamarine;
}

.copywrite{
    font-size: 21px;
    color: grey;
    text-align: right;
}

